#root {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.translate-center-x {
  webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.translate-center-y {
  webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contributors-preview-profile-img {
  @apply mx-auto inline-block h-12 cursor-pointer rounded-full ring-2 ring-white transition-opacity hover:opacity-80 sm:mx-0 sm:shrink-0;
}
.contributors-wrap:hover .tooltip {
  display: block;
}
.tooltip {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  webkit-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  transform: translateX(-25%);
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.category-contents-style {
  @apply rounded-lg px-3 py-2 font-semibold text-slate-600 transition-colors hover:bg-purple-100 hover:text-purple-600;
}

.category-contents-style:focus {
  @apply text-purple-500;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
